header {
	display: block;
	height: 100px;
	width: 100%;
	background-color: gold;
	margin: 0 0 40px 0;
	padding: 20px 0 0;
}

header h1, header p {
	margin: 0 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.card {
/*	position: relative;*/
/*	top: 20px;*/
/*	max-height: 450px;*/	
	width: 100%;
	border: 1px solid grey;
	border-radius: 3px;
	margin-bottom: 20px;
}

.card-image {
	width: 100%;
}

.content {
	margin: 0 20px;
}

.content h3 {
	line-height: 1;
}

.content p {
	margin-top: 0;
}